@import "../../../asset/sass/global.scss";

.animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  z-index: -1;
  transform: rotate(10deg);
}
.hero-section {
  @include flex(center, column);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: inherit;
  overflow: hidden;

  &__wrapper {
    @include flex(center);
    margin-top: -4rem;
    position: relative;

    @include response(tab-port) {
      margin-top: 6rem;
    }

    h1 {
      font-size: 6.5rem;
      max-width: 100rem;
      line-height: 135%;
      text-align: center;

      @include response(big-desktop) {
        font-size: 7rem;
        max-width: 110rem;
      }
      @include response(tab-land) {
        font-size: 5.3rem;
        max-width: 80rem;
      }
      @include response(tab-port) {
        font-size: 3.3rem;
        max-width: 50rem;
        margin: 0 auto;
      }
      @include response(small-phone) {
        max-width: 85%;
      }
      .text-purple {
        color: $dark-purple;
      }
    }
    .hero-section__text {
      margin: 2rem 0;
      text-align: center;
      font-size: 2rem;
      color: $ash;

      @include response(big-desktop) {
        font-size: 2.5rem;
        margin: 3rem 0;
      }
      @include response(tab-port) {
        font-size: 1.6rem;
        max-width: 83%;
        line-height: 150%;
        margin: 2.5rem auto;
      }
    }
    .button-wrapper {
      @include flex(center);
      gap: 1rem;
      margin: 0 auto;
      margin-top: 5rem;

      @include response(big-desktop) {
        gap: 1.5rem;
      }
      @include response(tab-port) {
        margin-top: 3rem;
        gap: 0;
      }
      @include response(smallest-phone) {
        flex-direction: column;
        gap: 2rem;
      }

      .hero-section__button {
        outline: none;
        border: none;
        background-color: $dark-purple;
        width: 20rem;
        height: 6rem;
        border-radius: 1rem;
        font-family: inherit;
        font-size: 1.8rem;
        color: $light-black;
        font-weight: 500;
        cursor: pointer;
        @include flex(center);

        @include response(big-desktop) {
          width: 20.5rem;
          height: 6.5rem;
          font-size: 2rem;
        }
        @include response(tab-port) {
          width: 12rem;
          height: 4.3rem;
          font-size: 1.3rem;
        }
        @include response(smallest-phone) {
          width: 23rem;
        }

        .arrow {
          width: 4rem;
          height: 4rem;
          color: $light-black;

          @include response(big-desktop) {
            width: 4.5rem;
            height: 4.5rem;
          }
          @include response(tab-port) {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
      .hero-section__github {
        @extend .hero-section__button;
        background-color: $dracula;
        border: 1px solid $light-ash;
        color: $white;
        margin-left: 2rem;

        @include response(smallest-phone) {
          margin-left: 0;
        }

        .github-icon {
          color: inherit;
          margin-right: 1.3rem;
        }
        &:hover {
          background-color: $light-ash;
          opacity: 0.9;
        }
      }
    }
  }
  //************ social media **************
  .social-media {
    @include flex;
    gap: 3.5rem;
    position: absolute;
    bottom: 6rem;
    font-size: 1.3rem;

    .social-media--icon {
      opacity: 0.7;
    }
    p:last-child,
    .social-media--community {
      cursor: pointer;

      &:hover {
        color: $purple;
      }
    }
    .social-media--community {
      @include flex(center);

      span {
        margin-left: 0.5rem;
      }
    }
  }

  //************ Made By **************
  .madeBy {
    position: absolute;
    bottom: 2rem;
    opacity: 0.7;

    .madeBy__text {
      font-size: 1.3rem;

      span {
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          color: $purple;
        }
      }
    }
  }

  .bottom_wrapper {
    background-color: $ash-black;
    max-width: 1440px;
    width: 88%;
    height: 30rem;
    border-radius: 2rem;
    position: absolute;
    bottom: -26rem;
    border: 0.5px solid $light-ash;

    @include response(big-desktop) {
      bottom: -24rem;
    }
  }
}
