@import "./mixin.scss";
@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px
  scroll-behavior: smooth;
}
body {
  background: $light-black;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  color: $white;
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow: -moz-scrollbars-none; /* Old Firefox */
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  position: relative;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
.navigation__logo {
  @include flex;
  p {
    letter-spacing: 0.4rem;
    font-size: 2.2rem;
    font-weight: 500;
  }
}
::-webkit-scrollbar {
  display: none;
}
//************** Modal components ***********//
//******************************************//
.layoutPages {
  margin-top: 1rem;

  &_heading {
    margin-bottom: 3rem;
  }
  &_info {
    font-size: 1.6rem;
    line-height: 180%;
    max-width: 60rem;
  }
}
.layout_component_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 5rem;
  width: 97%;

  .layout_component {
    width: 20rem;
    height: 18rem;
    position: relative;
    background-color: $ash-black;
    border-radius: 1.2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid $gray;

    cursor: pointer;

    &:hover {
      transform: scale(1.01);
      border-color: rgba($dark-purple, 0.5);
    }
    .accordian,
    .layout_component__inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        object-fit: fit;
        width: 17rem;
        height: 9.8rem;
      }
    }
    &__text {
      width: 100%;
      font-size: 1.3rem;
      display: block;
      background-color: $light-ash;
      padding: 1.5rem;
      padding-left: 5rem;
      color: $white;
      margin-top: 1.5rem;
    }
  }
}
.coming-soon {
  color: #f5f5f5c9;
  font-size: 2rem;
  margin-top: 7rem;
  padding: 2rem;
  width: 23rem;
  background-color: $light-black;
  border-radius: 1rem;
}

//************** Modal ***********//
//********************************//
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;
  overflow: hidden;

  .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(0.2px);
    -webkit-backdrop-filter: blur(0.2px);
  }

  .menu-btn {
    position: absolute;
    top: 5rem;
    right: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    cursor: pointer;

    .line {
      position: absolute;
      height: 4.5px;
      width: 4.5rem;
      background: $ash;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
      transform: rotate(45deg);
    }

    .line:first-child {
      transform: rotate(-45deg);
    }
  }

  .modal {
    position: relative;
    @include flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $light-ash;
    width: 100%;
    height: 83vh;
    top: 1rem;
    left: 1rem;
    max-width: 80rem;
    border-radius: 2rem;
    overflow: hidden;

    //headin
    .modal-heading {
      @include flex;
      width: 100%;
      background-color: rgba($gray, 0.3);

      .modal-heading_inner {
        @include flex;
        width: 100%;
        padding: 2rem 3rem;

        .modal-intro {
          font-size: 2.5rem;
        }
        .download-code {
          opacity: 0.7;
          background-color: $ash-black;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.2rem 1.5rem;
          border-radius: 0.5rem;
          color: $white;
          cursor: pointer;

          .download-icon {
            margin-left: 0.5rem;
          }
        }
      }
    }
    // code preview
    .code-preview {
      width: 75%;
      height: 15rem;
      border-radius: 1rem;
      background-color: rgba($light-black, 0.3);
      margin: 5rem 0;
    }
    //Info
    .modal-info {
      margin-top: 1rem;
      padding-top: 2rem;
      @include flex;
      width: 100%;
      position: relative;

      .divider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba($gray, 0.2);
        width: 100%;
        height: 0.1rem;
      }

      .modal-info_inner {
        @include flex;
        align-items: flex-start;
        width: 100%;
        gap: 3rem;
        padding: 0 2.5rem;
        margin-top: 2rem;

        .modal-info__heading {
          .modal-info__head {
            font-size: 2rem;
            color: rgba($light-purple, 0.7);
          }
          .modal-info__explanation {
            max-width: 20rem;
            font-size: 1.4rem;
            opacity: 0.7;
            margin-top: 1.5rem;
            line-height: 150%;
          }
        }

        .select-framework {
          @include flex(center);
          flex-direction: column;
          align-items: flex-start;

          .select-framework_head {
            @include flex(center);

            .arrow-icon {
              margin-left: 0.5rem;
            }
          }
          &__options {
            margin-top: 2rem;
            @include flex(center);
            height: 11rem;
            flex-direction: column;
            align-items: flex-start;
            // opacity: 0.6;
            gap: 2.2rem;
            color: rgba($white, 0.9);
            background-color: rgba($gray, 0.2);
            width: 100%;
            justify-content: center;
            border-radius: 0.2rem;
            padding: 1.8rem 0;

            .tooltip-item {
              margin: 0 auto;
              padding-left: 2rem;
              cursor: pointer;

              &:hover {
                color: $purple;
              }
            }
          }
          .option-active {
            background-color: rgba($purple, 0.1);
          }
        }
      }
    }
    //**** geneate button
    .button_container {
      @include flex;
      justify-content: flex-end;
      margin: 3rem 0;
      margin-right: 5rem;
      width: 100%;

      .generate_button {
        border: none;
        background-color: $light-purple;
        width: 13rem;
        padding: 1.2rem 0;
        border-radius: 1rem;
        font-family: inherit;
        color: #f5f5f5;
        font-size: 1.6rem;
        cursor: pointer;
        font-weight: 500;
        border: 1px solid $light-purple;
        // transition: all 0.1s ease;

        &:hover {
          // color: $white;
          // background-color: transparent;
          opacity: 0.9;
        }
      }
    }
  }
}

//*********** Code Preview ********* //
.codePreview-overlay {
  .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(5, 13, 21, 0.429);
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
  }

  .codePreview-modal {
    height: 40vh;
    width: 45rem;
    left: 2.5rem;
    padding: 2rem;
    top: 4rem;
    border-radius: 0.7rem;
    background-color: $light-ash;

    .codepreview-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h2 {
        font-size: 1.8rem;
        font-weight: 500;
      }
      .codepreview__menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        cursor: pointer;

        .codepreview-line {
          position: absolute;
          height: 2.2px;
          width: 2.5rem;
          background: gray;
          border-radius: 1px;
          transition: all 0.3s ease-in-out;
          transform: rotate(45deg);
        }

        .codepreview-line:first-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

//******** Tooltip ************//
//****************************//
.tooltip-container {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position at the bottom */
  left: 105%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 9px; /* Adjust the font size */
  max-width: 150px; /* Adjust the maximum width */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}
