$light-black: #15171f;
$ash-black: #0e1015;
$purple: #918cf2;
$light-purple: #9e7bc7;
$dark-purple: #875bb9;
$extralight-purple: #b99adc;
$white: #ffffff;
$ash: #d8d4d4cb;
$light-ash: #1f212a;
$gray: #414650cd;
$dracula: #282a36;

//bg
// $light-black: #15171f;
// $light-black: #1e202a;
// $light-ash: #2e303a;
// $ash-black: #0e1015;
// $dracula: #282a36;
