@import "../../../../../../../asset/sass/global.scss";

.HomeContent {
  width: 100%;

  @include response(small-phone) {
    width: 85%;
  }

  //***************** Heading *********//
  .HomeContent_heading {
    @include flex(center, column);
    align-items: flex-start;
    padding: 0 3rem;
    margin: 1rem 0;
    background: rgba($light-ash, 0.4);
    border-radius: 1.5rem;
    width: 90%;
    height: 27rem;

    @include response(tab-port) {
      width: 85%;
      padding: 4rem 3rem;
      border-radius: 1rem;
      height: auto;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;

      @include response(tab-port) {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
      }
    }
    p {
      @include response(tab-port) {
        line-height: 150%;
        font-size: 1.4rem;
      }
    }

    .homeContent_button_wrapper {
      @include flex();
      gap: 3rem;
      position: relative;
      margin-top: 3.5rem;
      // background-color: red;

      @include response(tab-port) {
        display: none;
      }

      .homeContent_button {
        outline: none;
        border: 1px solid $light-ash;
        background-color: rgba($ash, 0.07);
        width: 16rem;
        height: 6.5rem;
        border-radius: 0.7rem;
        font-family: inherit;
        font-size: 1.4rem;
        color: $white;
        font-weight: 500;
        @include flex(center);
        transition: all 0.3s ease;

        &:hover {
          border-color: rgba($light-purple, 0.4);
        }
      }
      .createFolder_wrapper {
        width: 19rem;
      }
      .createFolder {
        @include flex(center);
        margin-right: 1rem;
        background-color: rgba($ash, 0.1);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
  }
  //***************** component preview *********//
  .components_preview {
    margin-top: 7rem;

    .components_heading,
    .customised_example {
      font-size: 1.6rem;
      color: $white;
    }
    .layout_component_wrapper {
      margin-top: 0.2rem !important;
    }

    .customised_example {
      margin-top: 5rem;
    }
  }
}
