@import "../../../../../../../asset/sass/global.scss";

select {
  -webkit-appearance: none; /* Remove default arrow icon for Safari/Chrome */
  -moz-appearance: none; /* Remove default arrow icon for Firefox */
  appearance: none; /* Remove default arrow icon for other browsers */
}

//************ Customize ***********//
//**********************************//
.custom {
  position: relative;
  margin-top: 1rem;

  .custom_heading {
    font-size: 1.8rem;
    @include flex(flex-start);
    flex-direction: column;
    align-items: flex-start;

    &_intro {
      font-size: 2.5rem;
    }
    //* Recent componenets *//
    //*********************//
    .recentComponents_container {
      @include flex();
      gap: 2rem;

      .recentComponents__head {
        font-size: 1.8rem;
        margin: 4rem 0;
      }
    }
    //******** Theme *********//
    //************************//
    &_theme {
      opacity: 0.9;

      .dropdown_wrapper {
        @include flex(center);
        position: relative;
      }
    }
  }
  .dropdown {
    font-size: 1.5rem;
    border: none !important;
    outline: none !important;
    color: black !important;
    font-family: inherit;
    width: 20rem;
  }
  //******** Code Editor *********//
  //*****************************//
  .custom_board {
    width: 80%;
    margin-top: 1rem;
    color: rgba($white, 0.4);
    font-size: 1.5rem;

    .code_editor__header {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgba($dracula, 0.3);
      height: 5.5rem;
      width: 100%;
      background-color: rgba($dracula, 0.3);
      overflow: hidden;

      .languageType__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 0.2px solid $dracula;
        height: 100%;

        .header__tabs {
          font-size: 1.3rem;
          padding: 1.5rem;
          text-transform: capitalize;
          @extend .header__tabs;
        }
      }

      .action__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .header__tabs {
          padding: 0.2rem 1.4rem;
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          border-left: 0.2px solid $dracula;
          cursor: pointer;
          background: transparent;

          &:hover {
            background: rgba($ash-black, 0.1);
          }
        }
        //Chose file
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 5.5rem;

          .customfileinput {
            background-color: transparent;
            border-color: none;
            color: inherit;
            padding: 0 1.4rem;
            border-left: 0.2px solid $dracula;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 100%;
          }

          .customfileinput:hover {
            background: rgba($ash-black, 0.1);
          }

          .header__tabs__choose {
            // border: none;
            // font-family: inherit;
            // background-color: transparent;
          }
        }
      }
    }
    // Code editor
    .code_editor {
      outline: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // padding: 2rem;
      height: 50rem;
      width: 100%;
      background-color: rgba($dracula, 0.3);
      border: 1px solid rgba($dracula, 0.3);
      overflow: hidden;
      color: #f5f5f5;
      font-family: inherit;
      letter-spacing: 0.7px;
      font-size: 1.4rem;
    }
  }

  // End of code editor
}
