@import "../../../../../../../asset/sass/global.scss";

//*********** files ************/
.files {
  @include flex(center, column);
  height: 60vh;
  padding-right: 15rem;

  &__heading {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
  }
  &__info {
    opacity: 0.7;
    margin-top: 2rem;
  }
  .files_btn_wrapper {
    @include flex;
    gap: 2rem;

    .files__btn {
      text-align: center;
      @include flex(center);
      border: 1px solid $light-ash;
      border-radius: 2rem;
      padding: 1rem 0;
      font-family: inherit;
      width: 24rem;
      height: 6rem;
      outline: none;
      background-color: transparent;
      color: $white;
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 4rem;
      cursor: pointer;

      &:hover {
        background-color: rgba($gray, 0.1);
      }
    }
  }
}

//********** Code Vault ***************/
//************************************/
.folder_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 3.5rem;
  // height: 60vh;
  padding-top: 2.5rem;
  padding-right: 15rem;

  .folderComponent {
    border: 1.3px solid rgba($gray, 0.4);
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    color: $purple;
    cursor: pointer;
    transition: all 0.6s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 18rem;
    gap: 2.5rem;

    .folderIcon {
      color: inherit;
    }
    .folderAnimation {
      max-width: 73px;
    }
    .textContainer {
      margin-top: 0.8rem;

      p {
        padding-left: 0.8rem;
        color: #dbd4d4;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.6rem;
      }
      .fileNumber {
        font-size: 1.4rem;
        margin-top: 1rem;
        opacity: 0.6;
        font-weight: 400;
      }
    }

    &:hover {
      border-color: rgba($light-purple, 0.3);
    }
  }

  //**************** OpenFolder ********************//
  //************************************************//
  .openFolder {
    @include flex();
    align-items: flex-start;
    width: 100%;
    gap: 3rem;
    position: relative;

    &__arrowback {
      position: absolute;
      top: -3rem;

      &__icon {
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: rgba($purple, 1);
        }
      }
    }
    &__sidebar {
      @include flex();
      align-items: flex-start;
      justify-content: flex-start;
      width: 25rem;
      padding-right: 20px;
      margin-top: 40px;
      height: 62vh;
      border-right: 1px solid rgba($gray, 0.5);
      flex-direction: column;

      .folderIcon {
        margin-right: 0.8rem;
        color: rgba($ash, 0.6);
      }
      .folderIcon_arrow {
        margin-right: 0.7rem;

        color: rgba($ash, 0.5);
      }
      p {
        font-size: 1.6rem;
      }
      .openFolder__sidebarRight_container {
        width: 100%;
      }
      .openFolder__sidebarRight {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        width: 100%;
        border-radius: 0.5rem;
        padding: 0.3rem 0;
        transition: all 0.3s ease;
        background-color: rgba($ash, 0.02);

        &:hover {
          background-color: rgba($ash, 0.02);
        }
        .folderIcon_arrow {
          transform: rotate(90deg);
        }
      }
    }
    // Dropdown
    .openFolder_active {
      .folderIcon_arrow {
        transform: rotate(0deg);
      }
      .openFolder__sidebarRight {
        background-color: transparent;
      }
    }
    .dropdown_texts {
      padding-left: 4rem;
      @include flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.3rem;
      padding-top: 18px;

      .dropdown_texts_fileNames {
        @include flex;
        gap: 0.8rem;
        cursor: pointer;

        p {
          font-size: 1.4rem;
        }
      }
    }
    // Open code folder
    .showFolderCode {
      width: 70rem;
      margin-top: 40px;
      height: 50rem;
      background-color: rgba($light-black, 0.3);
      border-radius: 1rem;
      border: 1px solid rgba($ash, 0.2);
      overflow-y: scroll;

      &__header {
        border-bottom: 1px solid rgba($ash, 0.2);
        width: 100%;

        .showFolderCode__texts {
          padding: 1.5rem 2rem;
          justify-content: space-between;
          align-items: center;
          display: flex;
        }
        .showFolderCode__actions {
          @include flex();
          gap: 1.5rem;

          p {
            background-color: rgba($ash, 0.1);
            @include flex();
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
