@import "../../../../../../../asset/sass/global.scss";

//*********** files ************/
.tooltip_text {
  font-size: 1.1rem;
  font-family: inherit;
}
.files {
  @include flex(center, column);
  width: 1000px;
  max-width: 100%;
  height: 60vh;

  @include response(tab-land) {
    width: 840px;
  }
  @include response(tablet) {
    width: 650px;
  }
  @include response(tab-port) {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__heading {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
  }
  &__info {
    opacity: 0.7;
    margin-top: 2rem;

    @include response(tab-port) {
      margin-bottom: 2rem;
    }
  }
  .files_btn_wrapper {
    @include flex;
    gap: 2rem;

    @include response(tab-port) {
      flex-direction: column;
      gap: 0;
    }

    .files__btn {
      text-align: center;
      @include flex(center);
      border: 1px solid $light-ash;
      border-radius: 2rem;
      padding: 1rem 0;
      font-family: inherit;
      width: 24rem;
      height: 6rem;
      outline: none;
      background-color: transparent;
      color: $white;
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 4rem;
      cursor: pointer;

      @include response(tab-land) {
        width: 21rem;
        height: 5rem;
        font-size: 1.3rem;
      }
      @include response(tab-port) {
        margin-top: 2rem;
        width: 25rem;
        height: 5.5rem;
        font-size: 1.5rem;
      }

      &:hover {
        background-color: rgba($gray, 0.1);
      }
    }
  }
}

//********** Code Vault ***************/
//************************************/
.folder_section {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  padding-top: 2.5rem;

  @include response(tab-port) {
    width: 80%;
    padding-top: 10rem;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
  }

  .folderComponent {
    border: 1.3px solid rgba($gray, 0.4);
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    color: $purple;
    cursor: pointer;
    transition: all 0.6s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;

    @include response(small-phone) {
      gap: 2rem;
      padding: 0.7rem 1.5rem;
    }

    .folderIcon {
      color: inherit;

      @include response(small-phone) {
        max-width: 35px;
      }
    }
    .folderAnimation {
      max-width: 73px;
    }
    .textContainer {
      margin-top: 0.8rem;

      p {
        padding-left: 0.1rem;
        color: #dbd4d4;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.5rem;

        @include response(small-phone) {
          font-size: 1.3rem;
        }
      }
      .fileNumber {
        font-size: 1.4rem;
        margin-top: 1rem;
        opacity: 0.6;
        font-weight: 400;

        @include response(small-phone) {
          font-size: 1.2rem;
        }
      }
    }

    &:hover {
      border-color: rgba($light-purple, 0.3);
    }
  }

  //**************** OpenFolder ********************//
  //************************************************//
  .openFolder {
    @include flex();
    align-items: flex-start;
    width: 100%;
    gap: 3rem;
    position: relative;

    &__arrowback {
      position: absolute;
      top: -3rem;

      &__icon {
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: rgba($purple, 1);
        }
      }
    }
    &__sidebar {
      @include flex();
      align-items: flex-start;
      justify-content: flex-start;
      width: 25rem;
      padding-right: 20px;
      margin-top: 40px;
      height: 65vh;
      border-right: 1px solid rgba($gray, 0.5);
      flex-direction: column;

      .folderIcon {
        margin-right: 0.8rem;
        color: rgba($ash, 0.6);
      }
      .folderIcon_arrow {
        margin-right: 0.7rem;
        color: rgba($ash, 0.5);
      }
      p {
        font-size: 1.6rem;
      }
      .openFolder__sidebarRight_container {
        width: 100%;
      }
      .openFolder__sidebarRight {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        width: 100%;
        border-radius: 0.5rem;
        padding: 0.3rem 0;
        transition: all 0.3s ease;
        background-color: rgba($ash, 0.05);

        &:hover {
          background-color: rgba($ash, 0.05);
        }
        .folderIcon_arrow {
          transform: rotate(90deg);
        }
      }
    }
    //****** Dropdown ****/
    .openFolder_active {
      .folderIcon_arrow {
        transform: rotate(0deg);
      }
      .openFolder__sidebarRight {
        background-color: transparent;
      }
    }
    .dropdown_texts {
      padding-left: 2.5rem;
      @include flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.3rem;
      padding-top: 18px;

      .dropdown_texts_fileNames {
        @include flex;
        justify-content: flex-start;
        width: 20rem;
        gap: 0.8rem;
        cursor: pointer;
        padding: 0.3rem 1.3rem;
        border-radius: 0.5rem;
        transition: all 0.3s ease;

        &:hover,
        &_active {
          background-color: rgba($ash, 0.05);
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
    //******* Open code folder *******//
    .showFolderCode {
      .editFile {
        position: relative;
        display: none !important;
        @include flex();
        justify-content: flex-start;
        top: 3.5rem;
        margin-bottom: 6rem;
        color: $ash;

        span {
          display: inline-block;
          color: rgba($purple, 0.8);
          margin: 0 0.6rem;
          font-size: 1.7rem;
        }
        form {
          @include flex();
          gap: 1rem;
          margin-left: 1rem;
        }
        input,
        button {
          border: 1px solid $gray;
          outline: none;
          @include flex();
          border-radius: 0.8rem;
          padding: 0.8rem 1.3rem;
          width: 18rem;
          background-color: transparent;
          font-family: inherit;
          font-size: 1.2rem;
          color: $white;
        }
        button {
          background-color: rgba($purple, 0.3);
          padding: 0.8rem 1.5rem;
          width: auto;
          border-color: transparent;
          cursor: pointer;
        }
        ::placeholder {
          color: rgba($white, 0.8);
          font-family: inherit;
        }
      }
      &__header {
        width: 70rem;
        margin-top: 50px;
        background-color: rgba($light-black, 0.3);
        border-radius: 1rem;
        border: 1px solid rgba($ash, 0.2);
        overflow-y: scroll;

        .showFolderCode__texts {
          padding: 1.5rem 2rem;
          justify-content: space-between;
          align-items: center;
          display: flex;
        }
        .showFolderCode__actions {
          @include flex();
          background-color: $light-ash;
          border-radius: 0.5rem;
          border: 0.4px solid rgba($ash, 0.3);

          .copyIcon {
            // border-right: 1px solid rgba($ash, 0.2);
            cursor: pointer;
            padding: 1rem 1.2rem;
            transition: all 0.3s ease-in;
            border-radius: 0.5rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &:nth-child(2),
            &:nth-child(3) {
              border-top-left-radius: 0 !important;
              border-bottom-left-radius: 0 !important;
            }
            &:nth-child(3) {
              border: none;
            }

            &:hover {
              background-color: rgba($ash, 0.05);
            }
          }
        }
      }
      &__editor {
        &__value {
          width: 66rem;
          font-family: inherit;
          height: 40rem;
          background-color: rgba($light-black, 0.3);
          border: none;
          border-radius: 1rem;
          border-bottom: 1px solid rgba($ash, 0.2);
          border-left: 1px solid rgba($ash, 0.2);
          border-right: 1px solid rgba($ash, 0.2);
          outline: none;
          color: white;
          padding: 1.8rem 2rem;
          font-size: 1.4rem;
          line-height: 180%;
          overflow-x: hidden;
          overflow-y: scroll;
        }
      }
    }
  }
}
.lineNumber {
  opacity: 0.5;
}
