@import "../../../../../../../asset/sass/global.scss";

//*********** files ************/
.files {
  @include flex(center, column);
  height: 60vh;
  padding-right: 15rem;

  &__heading {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
  }
  &__info {
    opacity: 0.7;
    margin-top: 2rem;
  }
  .files_btn_wrapper {
    @include flex;
    gap: 2rem;

    .files__btn {
      text-align: center;
      @include flex(center);
      border: 1px solid $light-ash;
      border-radius: 2rem;
      padding: 1rem 0;
      font-family: inherit;
      width: 24rem;
      height: 6rem;
      outline: none;
      background-color: transparent;
      color: $white;
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 4rem;
      cursor: pointer;

      &:hover {
        background-color: rgba($purple, 0.1);
      }
    }
  }
}
